<div class="">

  <div class="page-title">
    <div class="title_left">
      <h3>Últimas leituras</h3>
    </div>
  </div>
  <div class="clearfix"></div>

  <div class="col-md-12">
    <div class="x_content">
      <div class="row">

        <div style="min-height: 168px; max-height: 168px;" class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12"
          ng-repeat="sensor in $ctrl.sensors">
          <div class="tile-stats">
            <!-- <div class="icon"><i class="fa fa-caret-square-o-right"></i>
            </div> -->

            <br>
            <h3 class="h3-title">
              <a class="title" ui-sref="sensor_explorer_read({id: '{{sensor._id}}'})">{{sensor.name}}</a>
            </h3>
           
            <div ng-if="['BarTrend', 'ForecastStr', 'MoonPhaseStr'].indexOf(sensor.alias) == -1" style="font-size: 33.5px; " class="count">{{sensor.last_read_value}} {{sensor.unit}}</div>
            <div ng-if="['BarTrend', 'ForecastStr', 'MoonPhaseStr'].indexOf(sensor.alias) > -1" style="font-size: 12px; height: 55px;" class="count">{{sensor.last_read_value}} {{sensor.unit}}</div>
            <p>{{sensor.last_read_date | date:'dd/MM/yyyy HH:mm'}}</p>
          </div>
        </div>

      </div>
      <div style="margin-bottom: 20px;" class="row col-lg-12">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row top_tiles logos-login tile-stats">
            <div style="text-align: center;" class="animated tile flipInY col-lg-2 col-md-2 col-sm-6 col-xs-12">
              <img style="width: 170px; height: 135px;" src="/assets/images/logo_lpa.png"/>
            </div>
            <div style="text-align: center;" class="animated tile flipInY col-lg-2 col-md-2 col-sm-6 col-xs-12">
              <img style="width: 110px; margin-top: 10px;" src="/assets/images/logo_labtel.png"/>
            </div>
            <div style="text-align: center;" class="animated tile flipInY col-lg-2 col-md-2 col-sm-6 col-xs-12">
               <img style="margin-top: 15px; width: 100px" src="/assets/images/logo_nteel.png"/>
            </div>
            <div style="text-align: center;" class="animated tile flipInY col-lg-2 col-md-2 col-sm-6 col-xs-12">
              <img style="margin-top: 10px;" src="/assets/images/logo_ufsc.png"/>
            </div>
            <div style="text-align: center;" class="animated tile flipInY col-lg-3 col-md-2 col-sm-6 col-xs-12">
               <img style="margin-top: 15px; width: 230px" src="/assets/images/logo_cnpq.png"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
